/* General */
@mixin font-face-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-Bold.ttf") format("truetype");
	}
}

@mixin font-face-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-Medium.ttf") format("truetype");
	}
}

@mixin font-face-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-Regular.ttf") format("truetype");
	}
}

@mixin font-face-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-Light.ttf") format("truetype");
	}
}

@mixin font-face-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-Thin.ttf") format("truetype");
	}
}

/* 28pt */
@mixin font-face-28pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-28pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-28pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-28pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-28pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-28pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-28pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 28pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Thin.ttf") format("truetype");
	}
}

/* 36pt */
@mixin font-face-36pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_36pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-36pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-36pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_28pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-36pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_36pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-36pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_36pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-36pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_36pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-36pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 36pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_36pt-Thin.ttf") format("truetype");
	}
}

/* 48pt */
@mixin font-face-48pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-48pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-48pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-48pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-48pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-48pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-48pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined 48pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_48pt-Thin.ttf") format("truetype");
	}
}

/* General filled */
@mixin font-face-filled-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-Bold.ttf") format("truetype");
	}
}

@mixin font-face-filled-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-filled-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-Medium.ttf") format("truetype");
	}
}

@mixin font-face-filled-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-Regular.ttf") format("truetype");
	}
}

@mixin font-face-filled-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-Light.ttf") format("truetype");
	}
}

@mixin font-face-filled-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-filled-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled-Thin.ttf") format("truetype");
	}
}

/* 28pt */
@mixin font-face-filled-28pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-filled-28pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 28pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Thin.ttf") format("truetype");
	}
}

/* 36pt */
@mixin font-face-filled-36pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_36pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_28pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_36pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_36pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_36pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-filled-36pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 36pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_36pt-Thin.ttf") format("truetype");
	}
}

/* 48pt */
@mixin font-face-filled-48pt-bold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 700;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-Bold.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-semibold() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 600;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-SemiBold.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-medium() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 500;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-Medium.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-regular() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 400;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-Regular.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 300;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-Light.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-extra-light() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-ExtraLight.ttf") format("truetype");
	}
}

@mixin font-face-filled-48pt-thin() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined Filled 48pt";
		font-style: normal;
		font-weight: 100;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined_Filled_48pt-Thin.ttf") format("truetype");
	}
}

/* Variable */
@mixin font-face-variable() {
	@font-face {
		font-display: swap;
		font-family: "Material Icons Outlined";
		font-variation-settings:
			"wght" 100 700,
			"opsz" 20 48,
			"FILL" 0 1,
			"GRAD" -25 200;
		src: url("../assets/icons/material-outlined/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf") format("truetype");
	}
}
