@use "@ogs-gmbh/ogsid-11-theme";
@use "./utils";
@use "sass:map";

@function is-palette ($theme-color) {
  $expected-keys: map.keys(ogsid-11-theme.$red-palette);

  @return utils.has-keys($expected-keys, $theme-color);
}

$mat-palettes: (primary, tertiary, theme-type);
$default-theme-type: light;

@function filter-theme-color ($theme-color) {
  $mat-theme-color: (
    primary: map.get($theme-color, primary),
    tertiary: map.get($theme-color, tertiary)
  );

  $mat-theme-type: map.get($theme-color, theme-type);

  @if $mat-theme-type != null {
    $mat-theme-color: map.set(
      $mat-theme-color,
      theme-type,
      $mat-theme-type
    );
  }

  @each $mat-pallet in $mat-palettes {
    $theme-color: map.remove($theme-color, $mat-pallet);
  }

  @return (
    mat: $mat-theme-color,
    custom: $theme-color
  );
}
